<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vue实战</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="parentMessage">
    <my-component :init-count="1"></my-component>
    <!--<my-component :message="[1,2,3]"></my-component>-->
    <!--<Card style="width: 350px;">-->
    <!--  <p slot="title">与xxx练习中</p>-->
    <!--  <a href="#" slot="textarea">-->
    <!--    <Icon type="android-close" size="18"></Icon>-->
    <!--  </a>-->
    <!--  <div style="height: 100px;">-->
    <!--  </div>-->
    <!--  <div>-->
    <!--    <Row :gutter="16">-->
    <!--      <i-col span="17">-->
    <!--        <i-input v-model="value" placeholder="请输入xx"></i-input>-->
    <!--      </i-col>-->
    <!--      <i-col span="4">-->
    <!--        <i-button type="primary" icon="paper-airplane">发送</i-button>-->
    <!--      </i-col>-->
    <!--    </Row>-->
    <!--  </div>-->
    <!--</Card>-->
    <input type="text" v-model.trim="message">
    输出:{{ message }}
    <select name="" id="" v-model="selected">
      <option :value="{number: 123}">123</option>
    </select>
    <!--<p>选择的是: {{selected.number}}</p>-->

    <input type="checkbox" v-model="picked" :true-value="value" :false-value="value1">
    <label for="">复选框</label>
    <p>{{picked}}</p>
    <p>{{value}}</p>
    <p>{{value1}}</p>

    <input type="checkbox" v-model="checked" value="one">
    <label>单选按钮1</label>
    <input type="checkbox" v-model="checked" value="two">
    <label>单选按钮2</label>
    <input type="checkbox" v-model="checked" value="three">
    <label>单选按钮3</label>
    <p>选择的是: {{checked}}</p>
    <template v-if="goodsList.length">
      <table>
        <thead>
        <tr>
          <td>商品名称</td>
          <td>商品单价</td>
          <td>数量</td>
          <td>操作</td>
        </tr>
        </thead>
        <tbody>
          <tr v-for="(item,index) in goodsList">
            <td>{{index+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>
              <button @click="handleReduction(index)" :disabled="item.num == 1">-</button>
              {{item.num}}
              <button @click="handleAdd(index)">+</button>
            </td>
            <td>
              <button @click="handleRemove(index)">移除</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div>总价: {{totalPrice}}</div>
    </template>
    <div v-else>购物车为空</div>
    <!--<my-component></my-component>-->

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    //var Child ={
    //  template: '<div>这里是局部组件</div>'q
    //};my-component
    let data = {
      counter: 0
    }
    Vue.component('my-component',{
      props: {
        propA: Number,
        propB: [String,Number],
        propC:{
          type:Boolean,
          default: true
        },
        propD: {
          type: Number,
          required: true
        },
        propE: {
          type:Array,
          default: function () {
            return [];
          }
        },
        propF: {
          validator: function () {
            return value > 10;
          }
        }
      },
      template: '<div>{{ count }}</div>',
      data:function () {
        return {
          count: this.initCount
        }
      }
    })
    //Vue.component('my-component',{
    //  template: '<div>这里是组件得内容</div>'
    //});
    var app = new Vue({
      el: '#app',
      data: {
        parentMessage:'',
        value:1,
        value1:2,
        picked: false,
        options:[
          {
            text: 'html',
            value: 'Html'
          },{
            text: 'js',
            value: 'JS'
          },{
            text: 'css',
            value: 'Css'
          }
        ],
        selected: '',
        message: '123',
        checked: ['one','two'],
        goodsList: [
          {
            id: 1,
            name: 'iphone7',
            price: '6666',
            num: '10'
          },
          {
            id: 2,
            name: 'iphone6',
            price: '5666',
            num: '6'
          },
          {
            id: 3,
            name: 'iphone8',
            price: '8666',
            num: '1'
          }
        ]
      },
      component: {
        //'my-component':Child
      },
      computed:{
        totalPrice:function () {
          let result = 0
          for (i of this.goodsList){
            result += i.price * i.num
          }
          return result.toString().replace(/\B(?=(\d{3})+$)/g,',');
        }
      },
      methods:{
        handleInput(e){
          console.log(e.target.value);
          this.message = e.target.value
        },
        handleReduction(index){
          if (this.goodsList[book].num ==1) return;
          this.goodsList[book].num --;
        },
        handleAdd(index){
          this.goodsList[book].num++
        },
        handleRemove(index){
          this.goodsList.splice(book,1)
        }
      }
    })

  </script>
</body>
</html>
