<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>vue视频</title>
  </head>
  <body>
    <!--点击列表中哪一项就变红色-->
    <!--采取循环数据然后进行三目运算-->
    <div id="app">
      <ul>
        <li v-for="(item,index) in lists" @click="colorRed = index" :style="{color:colorRed == index? 'red': ''}">{{item}}</li>
      </ul>
      <span>总价格:{{totalPrice}}</span>
      <span>总价格:{{getFullName()}}</span>
      //v-on监听
      <h2>{{count}}</h2>
      <button @click="handleAdd">+</button>
      <button @click="handleEdit">-</button>
      <!--v-on传参-->
      <!--<button @click="handleBtn">按钮一</button>-->
      <!--<button @click="handleBtn">按钮二</button>-->
      <!--<button @click="handleBtn('abc',$event)">按钮三</button>-->
      <!--v-on修饰符-->
      <!--.stop修饰符-->
      <div @click="divClick">
        111
        <!--<button @click.stop="handleBtn">按钮</button>-->
      </div>
      <!--.prevent修饰符-->
      <form action="baidu">
        <input type="submit" value="提交" @click.prevent="handleSubmit">
      </form>
      <!--.enter修饰符-->
      <input type="text" @keyup.enter="handleKey">
      <!--.enter修饰符-->
      <button @click.once="handleBtn">按钮2</button>
      <!--<h2>{{message}}</h2>-->
      <h2 v-if="score >= 90">优秀</h2>
      <h2 v-else-if="score >= 80">良好</h2>
      <h2 v-else-if="score >= 60">及格</h2>
      <h2 v-else>不及格</h2>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      //解决jquery报错
      htmlPrefilter  =  function(html){
        return html;
      };
      var vm = new Vue({
        el:'#app',
        data: {
          count: 0,
          score: 99,
          firstName: 'liu',
          lastName: 'yang',
          colorRed: '',
          lists: ['第一个','第二个','第三个','第四个'],
          books: [
            {id: '1',price: 11,name: '第一本书'},
            {id: '2',price: 97,name: '第二本书'},
            {id: '3',price: 98,name: '第三本书'},
            {id: '4',price: 99,name: '第四本书'}
          ]
        },
        methods:{
          handleKey(){
            console.log('Key')
          },
          handleSubmit(){
            console.log('submit')
          },
          divClick(){
            console.log('divClick')
          },
          handleBtn(){
            console.log('handleBtn')
          },
          handleAdd(){
            this.count++
          },
          handleEdit(){
            this.count--
          },
          getFullName:function () {
            return this.firstName + ' '+ this.lastName
          }
        },
        //计算属性
        computed:{
          result(){
            let showMessage = '';
            if (this.score >=90){
              showMessage = '优秀'
            } else if (this.score >=80){
              showMessage = '良好'
            }else if (this.score >=60){
              showMessage = '及格'
            }else {
              showMessage = '不及格'
            }
            return showMessage
          },
          //对应的对象类型
          fullName: {
            //计算属性一般只实现get方法,set不用实现
            get: function () {
              return this.firstName+ ' ' + this.lastName
            },
            //计算属性一般没有set方法,只读属性
            set: function (value) {
              console.log('--------------')
              console.log(value)
              const arr = value.split(' ')
              this.firstName = arr[0]
              this.lastName = arr[1]
            }
          },
          totalPrice(){
            let result =0;
            //普通循环
            for(let i=0;i<this.books.length,i++;){
              result+= this.books[i].price
            }
            //in循环
            for (let i in this.books){
              result += this.books[i].price
            }
            //of循环
            for (let i of this.books){
              result+= i.price
            }
            return result;
          }
        }
      })
    </script>
  </body>
</html>
