<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue第一章</title>
    <script src="../vue.min.js"></script>
</head>
<body>
    <div id="app">
        <button v-if="showBtn" v-on:click="handleClick">click me!</button>
        <!--<ul>-->
            <!--<li v-for="item in books">{{ item.name }}</li>-->
        <!--</ul>-->
        {{message}}
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                showBtn: true,
                books: [
                    {name: 'jsgaojichengxu'},
                    {name: '2'},
                    {name: '3'}
                ],
                message: '你好'
            },
            methods: {
                handleClick:function () {
                   console.log("我被点击了!!!")
                }
            }
        })
    </script>
</body>
</html>